* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.green {
  color: #96D231;
}

.gray {
  color: #A7A7A7;
}

/* ######### HEADER ########### */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  border-bottom: 2px solid #A7A7A7;
}

.logo {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
}

.nav-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: black;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}