* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat';
}

.green {
  color: #96D231;
}

.gray {
  color: #A7A7A7;
}

.row {
  display: flex;
  justify-content: space-between;
}


/* ######### HEADER ########### */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  border-bottom: 2px solid #A7A7A7;
}

.logo {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
}

.nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: black;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}

.content-container {
  margin: 70px 5% 0 5%;
}

/* ######### INDEX ########### */

.hero-img {
  width: 100%;
}

.category-name-container {
  margin-bottom: 30px;
}

.category-name {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
}

.category-subname {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.category-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
}

.category-card {
  width: 45%;
}

.category-img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.item-card {
  width: 22%;
}

.item-name {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 10px;
}

.item-category {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.item-price {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 20px;
}

.color-circle {
  width: 45%;
}

footer {
  background-color: #2E323B;
  margin-top: 70px;
  padding: 30px 5%;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.footer-category {
  width: 23%;
  display: block;
}

.footer-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin: 10px 0 30px 0;
}

.footer-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-top: 20px;
  display: block;
  color: #FFFFFF;
}

.social-icon-row {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.company-icon-row {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.footer-icon {
  width: 25px;
  height: 25px;
  margin-top: 20px;
}