* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat';
}

.green {
  color: #96D231 !important;
}

.gray {
  color: #A7A7A7;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customers-row {
  display: flex;
}

.dropdown-row {
  margin-top: 40px;
  margin-bottom: 30px;
}

.breadcrumb {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding-right: 40px;
}

.content-container {
  margin: 70px 5% 0 5%;
}

.content-breadcrumb-container {
  margin: 50px 5% 0 5%;
}

.dropdown {
  border: 1px solid #96D231;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #96D231;
  padding: 15px 10px;
  border-radius: 10px;
  margin-right: 20px;
}

/* ######### HEADER ########### */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  border-bottom: 2px solid #A7A7A7;
}

/* remove underline for header */
header a {
  text-decoration: none;
}

.logo {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  cursor: pointer;
  text-decoration: none;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
}

.nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: black;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}

/* ######### INDEX ########### */

.hero-container {
  position: relative;
  text-align: center;
  color: white;
}

.hero-img {
  width: 100%;
}

.hero-txt {
  /* positioning */
  position: absolute;
  bottom: 70px;
  left: 5%;
  /* text styling */
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
  color: #96D231;
}

.category-name-container {
  margin-bottom: 30px;
}

.category-name {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
}

.category-subname {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.category-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
}

.category-card {
  width: 45%;
}

.category-img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.item-card {
  width: 22%;
  text-decoration: none;
}

/* removes padding for last card */
.item-card:not(:last-child) {
  padding-right: 40px;
}

.item-name {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 10px;
  color: black;
}

.item-category {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.item-price {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 20px;
}

.color-circle {
  width: 45%;
}

footer {
  background-color: #2E323B;
  margin-top: 70px;
  padding: 70px 5% 70px 5%;;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.footer-category {
  width: 23%;
  display: block;
}

.footer-category .row {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer-category .row .footer-link {
  margin: 0;
}

.footer-category .row .footer-link:hover {
  margin: 0;
}

.footer-category a {
  text-decoration: none;
}

.footer-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin: 10px 0 30px 0;
}

.footer-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-top: 20px;
  display: block;
  color: #FFFFFF;
}

.footer-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.social-icon-row {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.company-icon-row {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

/* text overlay inspiration from https://www.w3schools.com/howto/howto_css_image_text.asp */
.top-right {
  position: absolute;
  top: 20px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 45px;
  right: 16px;
}

.add-to-cart {
  width: 30px;
  height: 30px;
}

.footer-icon {
  margin-right: 20px;
}


/* ######### PRODUCT DETAILS ########### */

.item-img-container {
  width: 35%
}

.item-img {
  width: 100%;
  border-radius: 10px;
}

.item-details-container {
  width: 60%;
}

.item-detail-name {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 20px;
}

.category {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  color: #A7A7A7;
}

.option-name {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.color-box {
  width: 20%;
}

.size-container {
  width: 20%;
  padding: 20px 10px;
  border: 1px solid #A7A7A7;
  border-radius: 10px;
  text-align: center;
}

.size {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.cart-btn {
  margin-top: 40px;
  padding: 20px;
  border: none;
  background-color: #96D231;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  border-radius: 30px;
  width: 100%;
  cursor: pointer;
}

.info-container {
  padding: 40px 0;
  border-top: 1px solid #E5E5E5;
}

/* puts bottom border on last container */
.info-container:last-child {
  border-bottom: 1px solid #E5E5E5;
}

.body {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.info-margins {
  margin: 70px 0;
}


/* ######### Favorites ########### */

.fav-card {
  width: 30%;
}

.fav-card a {
  text-decoration: none;
}

/* removes padding for last card */
.fav-card:not(:last-child) {
  padding-right: 40px;
}

.fav-x {
  position: absolute;
  top: 8px;
  right: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
}


/* ######### CONTACT ########### */

.contact-info-container {
  width: 35%;
}

.form-container {
  width: 60%;
  background-color: #F2F3F0;
  border-radius: 10px;
}

.contact-info-row {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.contact-info-row:not(:last-child) {
  margin-bottom: 80px;
}

.contact-info {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-left: 50px;
}

form {
  padding: 50px;
}

.form-label {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px; 
  margin-bottom: 10px;
}

form input {
  font-family: 'Montserrat';
  border: 2px solid #96D231;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 40px;
  height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  padding-left: 10px;
}

form textarea {
  font-family: 'Montserrat';
  border: 2px solid #96D231;
  border-radius: 15px;
  width: 96%;
  margin-bottom: 40px;
  height: 150px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  padding: 20px;
  resize: none;
}

.form-btn {
  padding: 15px;
  border: none;
  background-color: #96D231;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  border-radius: 30px;
  width: 100%;
  cursor: pointer;
}